@charset "utf-8";

.form-container {
  padding: 1.5rem;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

#loginForm, #articleForm, #categoryForm {
  .form-group {
    margin-bottom: 1rem;
  }
}

