{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <main id="categoryForm" class="container d-flex flex-column justify-content-center">
        {{ include('category/_form.html.twig') }}
    </main>
{% endblock %}
