{% extends 'base.html.twig' %}

{% block title %}Edit article{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css" integrity="sha384-o5q3Lz41LjkM7uAsUzjHiIxCwM4uPhBxVpRurMm9ZjPSB3LLl5R2tHrr+KRA8GSx" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <main id="articleForm" class="container d-flex flex-column justify-content-center">
        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
    </main>
{% endblock %}
